!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      Blog Title#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "normalize", "all"
  %body
    %header
      .container
        %h1
          =link_to "Regional Ruby Kaigi", "/"
        %nav
          %ul
            %li
              = link_to "RubyKaigi日記", "http://rubykaigi.tdiary.net/"
            %li
              = link_to "開催するには", "#"

    #main{role: "main"}
      = yield
    %footer
      ©2014 Regional RubyKaigi

